Esse programa calcula o índice de Sharpe de um ativo, dado um período de tempo e uma taxa livre de risco.  
O índice de Sharpe é uma medida de risco ajustada ao retorno, que mede o excesso de retorno por unidade de risco de um ativo.  
Ele é calculado como a diferença entre o retorno do ativo e a taxa livre de risco, dividido pelo desvio padrão do ativo.

In [2]:
# Importação das bibliotecas
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
# Definir uma variável com o dia de hoje no formato yyyy-mm-dd
hoje = pd.Timestamp.today().strftime('%Y-%m-%d')

# Obtenção dos dados
btc = yf.download('BTC-USD', start='2017-01-01', end=hoje)

[*********************100%***********************]  1 of 1 completed

In [4]:
btc.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-01,963.658020,1003.080017,958.698975,998.325012,998.325012,147775008
2017-01-02,998.617004,1031.390015,996.702026,1021.750000,1021.750000,222184992
2017-01-03,1021.599976,1044.079956,1021.599976,1043.839966,1043.839966,185168000
2017-01-04,1044.400024,1159.420044,1044.400024,1154.729980,1154.729980,344945984
2017-01-05,1156.729980,1191.099976,910.416992,1013.380005,1013.380005,510199008

In [5]:
btc.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-29,30086.187500,30796.250000,30057.203125,30445.351562,30445.351562,13180860821
2023-06-30,30441.353516,31256.863281,29600.275391,30477.251953,30477.251953,26387306197
2023-07-01,30471.847656,30641.289062,30328.865234,30590.078125,30590.078125,9086606733
2023-07-02,30587.269531,30766.140625,30264.019531,30620.769531,30620.769531,10533418042
2023-07-03,30624.515625,31375.613281,30586.513672,31156.439453,31156.439453,15271884873

In [6]:
# Calcular os retornos diários
btc['retorno'] = btc['Adj Close'].pct_change(1)

In [7]:
# Definir a taxa livre de risco
rf = 0.02 / 252

In [8]:
# Calcular o excesso de retorno
btc['ex_retorno'] = btc['retorno'] - rf

In [9]:
# Calcular o índice de Sharpe
sharpe = np.sqrt(252) * btc['ex_retorno'].mean() / btc['ex_retorno'].std()

In [10]:
# Imprimir o índice de Sharpe
print('Índice de Sharpe: ', sharpe)

Índice de Sharpe:  0.8656951043645512

Índice de Sharpe:
- menor que 1: Ruim
- entre 1 e 2: Aceitável para Bom
- entre 2 e 3: Muito bom
- maior ou igual a 3: Excelente